.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 68px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #0d2e88;
  font-size: 48px;
  line-height: 36px;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 150%;
  font-weight: 600;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #0d2e88;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 500;
}

.hero-section.section-padding {
  margin-top: 0px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

._2-col-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
}

._2-col-grid.lucrari {
  margin-top: 60px;
  margin-bottom: 0px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

._2-col-grid.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 550px;
  grid-row-gap: 600px;
}

.content-wrapped {
  max-width: 600px;
  text-align: left;
}

.image-wrapped {
  max-height: 620px;
  max-width: 493px;
}

.heading {
  color: #002424;
  line-height: 120%;
}

.short-p {
  max-width: 487px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #139969;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #008837;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.button:hover {
  border: 2px none #008837;
  background-color: #0d2e88;
  color: #fff;
}

.button.cta {
  margin-top: 40px;
}

.button.footer {
  max-height: 50px;
  max-width: 200px;
  margin-top: 0px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #0298b1;
  font-size: 20px;
}

.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
}

.main-logo {
  max-width: 214px;
}

.navlink {
  padding: 0px;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #002424;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  text-decoration: none;
}

.navlink:hover {
  color: #0298b1;
}

.navlink.footer-links {
  color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #0d2e88;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-decoration: none;
}

.text-span {
  color: #0298b1;
}

.app-bar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9988;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0298b1;
  text-decoration: none;
}

.nav-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 10px;
}

.hero {
  margin-top: 0px;
}

._3-col-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

._3-col-grid.specialisti {
  margin-top: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

._3-col-grid.servicii {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-top: 40px;
  margin-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

._3-col-grid.footer-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-top: 40px;
  margin-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
}

.formular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.despre-noi {
  margin-top: 200px;
}

.despre-noi.section-padding {
  margin-top: 0px;
  padding-top: 200px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.h2 {
  margin-bottom: 0px;
  text-align: left;
}

.h2.despre {
  margin-bottom: 0px;
  color: #002424;
}

.resultate {
  margin-top: 0px;
}

.section-padding {
  padding-right: 30px;
  padding-left: 30px;
}

.colectivul {
  margin-top: 200px;
}

.colectivul.section-padding {
  margin-top: 0px;
  padding-top: 200px;
}

.grid-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.specialist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #0d2e88;
  line-height: 150%;
  font-weight: 600;
}

.serviciile-noastre {
  margin-top: 200px;
}

.serviciile-noastre.section-padding {
  margin-top: 0px;
  padding-top: 200px;
}

.serviciu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 380px;
  max-width: 367px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #0298b1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.image {
  margin-top: -40px;
}

.paragraph-2 {
  height: 150%;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.servicii-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-right: 38px;
  padding-left: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.lucrarile-noastre {
  margin-top: 200px;
}

.grid-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lucrare {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.heading-7 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.recenzii {
  margin-top: 200px;
}

.recenzie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 560px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.persoana {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.nume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.heading-8 {
  margin-top: 0px;
}

.contact {
  margin-top: 200px;
}

.contact.section-padding {
  margin-top: 0px;
  padding-top: 200px;
}

.grid-4 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field {
  max-width: 463px;
  padding: 25px 100px 25px 30px;
  border: 2px solid #afafaf;
  border-radius: 10px;
  background-color: #e0e0e0;
  font-family: Montserrat, sans-serif;
  color: #028739;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.text-field:focus {
  border-color: #0d2e88;
  background-color: #f1f1f1;
}

.text-field:focus-visible {
  color: #028739;
}

.text-field[data-wf-focus-visible] {
  color: #028739;
}

.text-field::-webkit-input-placeholder {
  color: #028739;
}

.text-field:-ms-input-placeholder {
  color: #028739;
}

.text-field::-ms-input-placeholder {
  color: #028739;
}

.text-field::placeholder {
  color: #028739;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.numar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.footer {
  margin-top: 200px;
  background-color: #028739;
}

.footer.section-padding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0298b1;
}

._1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-2 {
  max-width: 226px;
}

.footer-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-3 {
  max-width: 226px;
}

.image-4 {
  margin-bottom: 20px;
}

.footer-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  text-decoration: none;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.footer-contact-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.info-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block {
  height: 10px;
  max-height: 10px;
  background-color: #0d2e88;
}

.blue-bar {
  height: 15px;
  background-color: #0d2e88;
}

.success-message {
  background-color: #028739;
}

.text-block {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.error-message {
  margin-top: 20px;
}

.text-block-2 {
  padding: 10px;
  font-family: Montserrat, sans-serif;
  color: #8d0000;
  font-size: 22px;
  font-weight: 500;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999999;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.navbar.section-padding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding: 0px 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid-5 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.app-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-6 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-span-2 {
  color: #0298b1;
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  display: inline-block;
  margin-left: 30px;
  border: 1px none #000;
  color: #0298b1;
  font-weight: 500;
  text-decoration: none;
}

.image-5 {
  margin-left: 10px;
}

.paragraph-5 {
  max-height: 270px;
  max-width: 560px;
  font-size: 18px;
  line-height: 24px;
}

.text-span-3 {
  color: #0298b1;
}

.headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-7 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._4-col-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card {
  width: 266px;
  height: 410px;
  max-height: 410px;
  max-width: 266px;
  border-radius: 20px;
  background-color: #0298b1;
}

.heading-10 {
  font-size: 28px;
}

.paragraph-card {
  max-width: 300px;
  color: #fff;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 28px;
}

.h3.blue {
  color: #002424;
}

.medic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  max-width: 367%;
  border-radius: 20px;
}

.service {
  width: auto;
  height: 410px;
  max-height: 380px;
  max-width: 363px;
  border-radius: 20px;
  background-color: #0298b1;
}

.image-7 {
  max-height: 262px;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.titlu-serviciu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image-8 {
  border-radius: 20px;
}

.tehnologiile-noastre {
  margin-top: 200px;
}

.tehnologiile-noastre.section-padding {
  margin-top: 0px;
  padding-top: 200px;
}

.text-span-4 {
  color: #0298b1;
}

.image-9 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.image-10 {
  max-height: 395px;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.heading-11 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.contact-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-1-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.heading-12 {
  max-width: 286px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 26px;
}

.white-line {
  width: 1140px;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
}

.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 100px;
}

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 60px;
}

.button-copy {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #008837;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.button-copy:hover {
  border: 2px none #008837;
  background-color: #0d2e88;
  color: #fff;
}

.button-copy.cta {
  margin-top: 40px;
}

.button-copy.footer {
  max-height: 50px;
  max-width: 200px;
  margin-top: 0px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #0298b1;
  font-size: 20px;
}

.button-footer {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #008837;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.button-footer:hover {
  border: 2px none #008837;
  background-color: #0d2e88;
  color: #fff;
}

.button-footer.cta {
  margin-top: 40px;
}

.button-footer.footer {
  max-height: 50px;
  max-width: 200px;
  margin-top: 0px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #139969;
  font-size: 20px;
}

.text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-text-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.free-consult {
  color: #fff;
  font-size: 20px;
}

.text-span-6 {
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .hero-section.section-padding {
    padding-right: 30px;
    padding-left: 30px;
  }

  .container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .container.footer-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 10px;
  }

  ._2-col-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid.lucrari {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid.acasa {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  ._2-col-grid.app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 100px;
  }

  .heading {
    font-size: 50px;
  }

  .nav-bar {
    grid-column-gap: 0px;
  }

  .navlink {
    margin-bottom: 20px;
    color: #fff;
  }

  .nav-menu {
    padding: 40px 20px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    background-color: #0298b1;
  }

  .heading-2 {
    color: #fff;
  }

  .link-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .app-bar {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    grid-column-gap: 60px;
    grid-row-gap: 400px;
  }

  ._3-col-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  ._3-col-grid.servicii {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  ._3-col-grid.footer-grid {
    margin-left: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 200px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .formular {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .despre-noi.section-padding {
    margin-top: 100px;
    padding-left: 20px;
  }

  .h2 {
    margin-bottom: 60px;
    font-size: 40px;
  }

  .resultate {
    margin-top: 100px;
  }

  .colectivul.section-padding {
    margin-top: 100px;
  }

  .serviciile-noastre.section-padding {
    margin-top: 100px;
  }

  .contact.section-padding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer.section-padding {
    margin-top: 200px;
  }

  ._1 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 120px;
    grid-row-gap: 120px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .app-text {
    margin-top: 0px;
  }

  ._4-col-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .tehnologiile-noastre.section-padding {
    margin-top: 100px;
  }

  .footer-nav {
    display: -ms-grid;
    display: grid;
    margin-right: 100px;
    margin-left: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text {
    margin-top: 20px;
  }

  .app-text-copy {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .container.footer-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  ._2-col-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid.acasa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._2-col-grid.app {
    grid-column-gap: 60px;
  }

  .short-p {
    max-width: 420px;
  }

  .button.footer {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 150%;
  }

  .navlink {
    margin-bottom: 20px;
    color: #fff;
  }

  .nav-menu {
    padding: 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    background-color: #0298b1;
  }

  .heading-2 {
    color: #fff;
    font-size: 18px;
  }

  .link-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .app-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column-gap: 100px;
    grid-row-gap: 0px;
  }

  ._3-col-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  ._3-col-grid.specialisti {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._3-col-grid.footer-grid {
    margin-left: 10px;
  }

  .brand {
    max-width: 200px;
    padding-left: 0px;
  }

  .brand.w--current {
    padding-left: 0px;
  }

  .app-text {
    font-size: 16px;
  }

  .buttons {
    grid-column-gap: 0px;
    font-size: 16px;
  }

  .footer-nav {
    margin-left: 0px;
  }

  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 40px;
    line-height: 120%;
  }

  .container.footer-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  ._2-col-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._2-col-grid.lucrari {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  ._2-col-grid.app {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .short-p {
    text-align: left;
  }

  .button.footer {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
  }

  .main-logo {
    max-width: 160px;
  }

  .navlink {
    margin-bottom: 20px;
    color: #fff;
  }

  .navlink:hover {
    color: #0298b1;
  }

  .nav-menu {
    padding: 40px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    background-color: #0298b1;
  }

  .heading-2 {
    color: #fff;
    font-size: 18px;
  }

  .link-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .nav-content {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
  }

  ._3-col-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._3-col-grid.specialisti {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  ._3-col-grid.servicii {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  ._3-col-grid.footer-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .despre-noi.section-padding {
    margin-top: 140px;
  }

  .h2 {
    margin-bottom: 40px;
  }

  .h2.despre {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .resultate {
    margin-top: 100px;
  }

  .colectivul.section-padding {
    margin-top: 140px;
  }

  .serviciile-noastre.section-padding {
    margin-top: 140px;
  }

  .heading-6 {
    font-size: 20px;
    text-align: center;
  }

  .lucrarile-noastre.section-padding {
    margin-top: 140px;
  }

  .heading-7 {
    font-size: 20px;
  }

  .recenzii.section-padding {
    margin-top: 140px;
  }

  .persoana {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .nume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-9 {
    text-align: center;
  }

  .paragraph-3 {
    text-align: center;
  }

  .paragraph-4 {
    text-align: center;
  }

  .contact.section-padding {
    margin-top: 140px;
  }

  ._1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .navbar.section-padding {
    padding-bottom: 0px;
    grid-row-gap: 0px;
  }

  .app-text {
    font-size: 12px;
  }

  .phone {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  .link {
    margin-left: 0px;
  }

  .image-5 {
    margin-left: 0px;
  }

  .paragraph-5 {
    font-size: 14px;
    line-height: 20px;
  }

  .headline {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  ._4-col-grid {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .titlu-serviciu {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tehnologiile-noastre.section-padding {
    margin-top: 140px;
  }

  .heading-12 {
    font-size: 16px;
  }

  .white-line {
    width: 260px;
  }

  .footer-nav {
    margin-right: 0px;
    justify-items: center;
  }

  .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .menu-button {
    padding: 0px;
  }

  .text-span-5 {
    font-size: 16px;
  }

  .free-consult {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 0px;
  }
}

#w-node-a4dcdeb2-8d35-e1b9-02d7-f7f1daa1b9f6-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_878f48b5-1cbf-7623-158b-e24eba0cb8d1-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b0fcea16-cb5c-ef64-2d1c-b10fcf980454-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e57e0e1a-f06a-9ca6-167c-3f1c66ec3ac2-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5a304341-d6fe-0a83-7960-6abd0c514fe3-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_25070434-79cb-5a9b-064d-2219e556b8a0-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7f67dd3c-a500-a075-8d50-c851dc24de2d-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e36e6f04-f406-2795-51c0-3ba79fa4ced1-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9d6178f9-11a8-fd56-2bb7-c552e7c97969-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_68e6a997-057f-e72b-78af-94ba308ab2d8-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_43021c35-3753-eb97-dfb6-3ad49eb3ef31-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e8e2c540-4c8b-2a90-1d85-d223263235ad-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e8e2c540-4c8b-2a90-1d85-d223263235be-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e8e2c540-4c8b-2a90-1d85-d223263235bf-9c0c9f2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}